@import url('https://fonts.googleapis.com/css?family=Biryani');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  color: #fff;
  background-color: #000;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 104px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* control order of elements */
  z-index: 2;
}

header h1 {
  /* float: left; */
  width: 64px;

}

header nav a {
  margin-left: 10px;
  transition: border 0.3s 1s ease-in;
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  padding-bottom: 3px;
}

header nav a:hover {
 border-color: #555;
}

header nav a.selected {
  border-color: #fff;
}

.photos {
  /* text-align: center; */
  max-width: 960x;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
 
}

.photo {
  /* display: inline-block; */
  width: 300px;
  margin: 10px;
  /* position relative on the parent photo element. Overlay will be positioned in relation */
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

.photo img {
  transition: filter 0.3s;
}

.photo:hover img {
  filter: grayscale(100%);
}

.photo:hover .overlay {
  opacity: 1;
}

.photo h2 {
  position: absolute;
  left: -15px;
  top: -15px;
  font-size: 32px;
  line-height: 1.2;
}

.small {
  width: 220px;
}

.large {
  width: 400px;
}

footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


footer a {
  width: 16px;
  margin-left: 5px;
  display: inline-block;
  align-items: center;
}

.list a img {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
}

.list {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 120px;
}

/* Add pseudo code element */
.list a:after {
  content: '/';
}