@import url('https://fonts.googleapis.com/css?family=Biryani');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  color: #fff;
  background-color: #000;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 104px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  /* float: left; */
  width: 64px;

}

header nav {
  /* float: right; */
  /* margin-top: 20px; */
}

header nav a {
  margin-right: 10px;
  border-top: 10px;
}

.selected {
  border-bottom: solid 2px #fff;
  padding-bottom: 3px;
}

.photos {
  /* text-align: center; */
  max-width: 960x;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

.photo {
  /* display: inline-block; */
  width: 300px;
  margin: 10px;
}

.small {
  width: 220px;
}

.large {
  width: 400px;
}

footer {
  overflow: hidden;
  padding: 20px;
}

footer p {
  float: left;
}

footer nav {
  float: right;
}

footer a {
  width: 16px;
  margin-left: 5px;
  display: inline-block;
}